{{log "refresh en tiempo real"}}
<h2>Listado de productos en tiempo real</h2>
{{log products}}
{{#if products.length}}
  {{#each products}}
    <h3>{{this.title}}</h3>
  {{/each}}
{{else}}
  <h3>sin productos</h3>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>